.custom-shadow {
    box-shadow: 0 0 12px #000;
}

.title-text-shadow {
    text-shadow: 0 0 6px #000;
}

.link-text-shadow {
    text-shadow: 0 0 6px #000;
}

.arrow {
    display: flex;
    margin-left: 7px;
    margin-top: -5px;
    padding: 5px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#hamburger-menu {
    display: none;
}

.services:not(:last-child) {
    border-bottom: 1px solid #000000;
}


@media only screen and (max-width: 800px) {

    #hamburger-menu {
        display: flex;
    }

    #header-menu-full {
        display: none;
    }

}